
<div class="container">
<header>></header>
<img style="-webkit-user-select: none;margin: auto;" src="https://i5.walmartimages.com/asr/90fa302d-86df-40b2-b591-a1992fb97f5e_1.395b0217a04fbfdc123557481c1bc237.jpeg?odnWidth=450&amp;odnHeight=450&amp;odnBg=ffffff">
<div class="col-md-8 col-md-offset-2"> 
  <h2>The laundry Basket Start Page </h2>

  <div class="content">

  <h1> test..Hey Buddy, We Have a Problem</h1>
<p>It seems there was a problem. Please return to <a href="/">the home page</a> and try again.</p>
  
      <h4>Please sign up or log in to access your @laundrybasket email account</h4>
<a href="/registrations/signup">Sign Up</a>
<br>
<a href="/sessions/login">Log In</a>
      </div>


