<h1>Create a new Item</h1>

<form action="/items" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="item[name]" id="item_name">

  <br></br>

  <label>Choose an existing useer:</label>
  <br></br>

  <% @users.each do |user| %>
    <input type="radio" name="item[user_id]" value="<%=user.id%>" id="<%=user.id%>"><%=user.name%></input>
  <% end %>

  <br></br>
  <label>and/or, create a new user:</label>
  <br></br>
  <label>Name:</label>
    <input type="text" name="user[name]" id="user_name"></input>

  <br></br>

  <input type="submit" value="Create Item">
</form>